body {
    background-color: #e0dfd3;
}
p, a, li{
    font-family: arial;
    font-weight:900;
    font-size:11px;
    color: rgb(60, 55, 54);
}

.serif{
    font-family: 'Gill Sans MT';
    color: #c72e13;
    font-size: 30px;
}

.orange{
    color: #c72e13;
}

.blue{
    color: #1c2f69
}

.title{
    font-family: 'Gill Sans MT';
    vertical-align: middle;
    color:#a5081b;
    font-size: 60;
    margin-bottom: 0px;
}

li {
    margin-bottom: 12px;
    margin-top: 12px;
}

.header{
    color:#c72e13;
    font-size: 20px;
}

/*navbar*/
.nav ul {
    list-style-type: none;
    overflow:hidden;
    background-color:#1c2f69;
    border-radius: 12px;
}
.nav li {
    display: inline-block;
}
        
.nav li a {
    display: inline-block;
    font-family:arial;
    text-decoration:none;
    font-weight:900;
    font-size:11px;
    color: #608add;
    padding: 12px 20px;
    background-color: #1c2f69;
    border-radius: 12px;
    border: 4px solid #1c2f69;
}
.nav li a:hover {
    color: f0e8e8;
    padding: 12px 20px;
    background-color: #e2241a;
    border-top:4px solid #f27b3f;
    border-left:4px solid #f27b3f;
    border-right:4px solid #920606;
    border-bottom:4px solid #920606;
}
.nav .active {
    background-color: #05123a;
    color:#cfd2e6;
    padding: 12px 20px;
    border-top:4px solid #061648;
    border-left:4px solid #061648;
    border-right:4px solid #2f4da5;
    border-bottom:4px solid #2f4da5;
}

.button, .play_button{
    border-radius: 12px;
    background-color: #1B316D;
    border: none;
    color: #f0e8e8;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:arial;
    text-decoration:none;
    font-weight:900;
    font-size:11px;
    cursor: pointer;
    margin:5px;
}

.text_button {
    border-radius: 12px;
    background-color: #ea764c;
    border: none;
    text-decoration: none;
    color: #86290a;
    font-size:8px;
    padding-left: 8px;
    padding-right: 8px;
}

.game_text_button {
    border-radius: 12px;
    background-color: #ea4f4c;
    border: none;
    text-decoration: none;
    color: #240a02;
    font-size:8px;
    padding-left: 8px;
    padding-right: 8px;
    margin:8px;
}

.ref_text_button {
    border-radius: 12px;
    /* background-color: #ed9876; */
    border: none;
    text-decoration: none;
    color: #240a02;
    font-size:8px;
    padding-left: 8px;
    padding-right: 8px;
    margin:8px;
}

/* .button:hover, .text_button:hover, .game_text_button:hover, .ref_text_button:hover {
  background-color: #e2241a;
  color: #390707;
} */

/* .button:active, .text_button:active, .game_text_button:active, .ref_text_button:active {
  box-shadow: 0 2px #9e3320;
  transform: translateY(2px);
} */

.logo_container, .img_container, .text_container, .nav{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
}

.logo_container{
    width: 90%;
}

.img_container{
    position: relative;
    margin-bottom: 10px;
    background-color: #920606;
    border-radius: 20px;
}

.play_button{
    color:#608add;
    background-color: #1B316D;
    padding: 20px;
    border-radius: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 50%;
}

.play_button:hover, .button:hover{
    opacity: 100%;
    border: 4px solid #f27b3f;
    background-color: #c72e13;
    color:#e0dfd3;
}

img {
    border-radius: 20px;
    width: 100%;
}

.text_container {
    color:#e0dfd3;
    /* background-color: #e2241a; */
    border-radius: 25px;
    margin-bottom: 30px;
    text-align: left;
}

#body {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button_container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

.gamestuff{
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #390707;
    padding:40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 400px;
    color:white;
}

.game_p {
    vertical-align: middle;
    color:#e0dfd3;
}

.game_header {
    font-family: 'Gill Sans MT';
    vertical-align: middle;
    color:#e0dfd3;
    font-size: 60;
}

.over_text {
    color:white;
    top: 8px;
    left: 16px;
}

.outcome_text{
    font-family: gill sans mt;
    font-size: 25px;
    color:#920606;
}

.addendum {
    padding:20px;
}

.addendum_text{
    font-family: gill sans mt;
    color:#1B316D;
}

.references{
    padding:15%;
    padding-top: 0;
}

p .references{
    font-family: gill sans mt;
    color:#1B316D;
}